{{outlet}}
<h1>{{ model.name }}</h1>
<ul class="nav nav-tabs">
    <li class="active"><a href="#description" data-toggle="tab" aria-expanded="false">Beskrivning</a></li>
    <li><a href="#direction" data-toggle="tab" aria-expanded="false">Vägbeskrivning</a></li>
    <li><a href="#routes" data-toggle="tab" aria-expanded="false">Leder</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade active in" id="description">
      <p>{{model.short_description}}</p>
      <p>{{model.long_description}}</p>
    </div>
    <div class="tab-pane fade" id="direction">
      <p>{{model.road_description}}</p>
      {{google-maps area=model}}
        <!--TODO: Make sure gmaps loads... -->
    </div>

    <div class="tab-pane fade" id="routes">
        {{#if model.severalRockfaces}}
          {{#each model.rockfaces as |rockface|}}
            <h2>{{rockface.name}}</h2>
            <ol>
              {{#each rockface.routes as |route|}}
                <li>{{route.name}}</li>
              {{/each}}
            </ol>
          {{/each}}
        {{else}}
          {{#each model.rockfaces as |rockface|}}
              <ol>
                {{#each rockface.routes as |route|}}
                    <li>{{route.name}}</li>
                {{/each}}
              </ol>
          {{/each}}
        {{/if}}
    </div>

</div>