<div class="row">
  {{!-- This is the desktop nav --}}
    <div class="col-xs-12">
        <ul class="nav nav-pills" role="tablist">
            <li class="active">
                <a href="#description" role="tab" data-toggle="tab" {{action "setTabName" "description"}} aria-expanded="true">
                    <i class="fa fa-globe"></i>
                    <span class="hidden-xs hidden-sm">- Översikt</span>
                    {{!-- This is where the descr. and overview goes --}}
                </a>
            </li>
            <li class="">
                <a href="#routes" role="tab" data-toggle="tab" {{action "setTabName" "routes"}} aria-expanded="false">
                    <i class="fa fa-tasks"></i>
                    <span class="hidden-sm hidden-xs">- Leder</span>
                    {{!-- This is where the routes goes--}}
                </a>
            </li>
            <li>
                <a href="#find" role="tab" data-toggle="tab" {{action "setTabName" "find"}}>
                    <i class="fa fa-map-signs"></i>
                    <span class="hidden-sm hidden-xs">- Vägbeskrivning</span>
                  {{!-- This is where the maps/find goes --}}
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="tab-content gallery">
    <div class="tab-pane active" id="description">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="hidden-sm hidden-xs">Översikt för området</h3>
                <div class="visible-xs visible-sm">
                    <h1>Översikt för {{ model.name }}</h1>
                    <h4>{{model.short_description}}</h4>
                </div>
                <img style="max-width: 100%" src="{{ model.image.firstObject.image }}">
                <p>{{model.long_description}}</p>
            </div>
        </div>
    </div>
    <div class="tab-pane text-center" id="routes">
        <div class="row">
            <div class="col-md-12">
              {{#each model.rockfaces as |rockface|}}
                  <h2>Leder på {{rockface.name}}</h2>

                {{#if rockface.image}}
                    <p>Nedan visas bilder på klipp sidor med tillhörande leder.</p>
                {{/if}}
                {{#each rockface.image as |image|}}
                    <img style="max-width: 100%" src="{{ image.image }}">
                    <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                              <th>Nummer</th>
                              <th>Lednamn</th>
                              <th>Grad</th>
                              <th>Typ</th>
                              <th>Antal bultar</th>
                              <th>Längd</th>
                          </tr>
                        </thead>
                        <tbody>
                  {{#each image.route_set as |route|}}
                          <tr>
                              <td>{{#if route.route_nr}}{{route.route_nr}}{{/if}}</td>
                              <td>{{route.name}}</td>
                              <td>{{route.grade_hr}}</td>
                              <td>{{route.type_hr}}</td>
                              <td>{{route.nr_of_bolts}}</td>
                              <td>{{route.length}}</td>
                          </tr>
                  {{/each}}
                        </tbody>
                    </table>
                    </div>
                {{/each}}

                  <h3>Leder utan bild:</h3>
                  <p>Det finns även uppgifter om dess leder som saknar en bild:</p>
                {{#each rockface.routes as |route|}}
                  {{#unless route.image }}
                    <li>{{#if route.route_nr}}{{route.route_nr}}, {{/if}}{{route.name}}, {{route.grade_hr}} ({{route.type_hr}}{{#if route.nr_of_bolts}}, {{route.nr_of_bolts}}bb{{/if}}){{#if route.length}}, {{route.length}}m{{/if}}</li>
                  {{/unless}}
                {{/each}}
              {{/each}}
            </div>
        </div>
    </div>
    <div class="tab-pane text-center" id="overview">
        <div class="row">
            <div class="col-md-6">
                <p>Här visas en översikt</p>
                <p>Och kanske en bild.</p>
            </div>
        </div>
    </div>
    <div class="tab-pane text-center" id="find">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <h3>Vägbeskrivning</h3>
                <p>{{model.road_description}}</p>
            </div>
          <div class="col-xs-12 col-md-9">
                {{google-maps area=model findTabActive=findTabActive}}
          </div>
        </div>
    </div>

</div>
<!-- End Profile Tabs -->